In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('accident.csv')

In [5]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,34237,34238,34239,34240,34241,34242,34243,34244,34245,34246
STATE,1,1,1,1,1,1,1,1,1,1,...,56,56,56,56,56,56,56,56,56,56
ST_CASE,10001,10002,10003,10004,10005,10006,10007,10008,10009,10010,...,560096,560097,560098,560099,560100,560101,560102,560103,560104,560105
VE_TOTAL,1,1,3,1,1,2,2,1,1,1,...,1,1,1,2,1,1,1,1,1,1
VE_FORMS,1,1,3,1,1,2,2,1,1,1,...,1,1,1,2,1,1,1,1,1,1
PVH_INVL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PEDS,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,2,0,0
PERNOTMVIT,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,2,0,0
PERMVIT,1,1,3,1,2,4,2,1,1,1,...,1,1,2,2,1,1,1,1,1,1
PERSONS,1,1,3,1,2,4,2,1,1,1,...,1,1,2,2,1,1,1,1,1,1
COUNTY,73,89,101,73,13,49,73,3,87,73,...,41,23,25,21,45,21,15,21,25,37
CITY,330,1730,2130,350,0,0,350,0,0,0,...,270,0,90,100,0,0,0,100,90,0
DAY,19,14,31,1,1,6,11,11,11,14,...,25,7,12,6,27,30,5,12,28,31
MONTH,2,2,1,1,1,1,1,1,1,1,...,10,11,11,11,11,11,12,12,12,12
YEAR,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,...,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
DAY_WEEK,1,3,3,1,1,6,4,4,4,7,...,4,3,1,2,2,5,3,3,5,1
HOUR,23,14,20,16,20,18,17,16,14,4,...,8,12,17,17,8,6,23,17,8,7
MINUTE,35,59,31,55,0,40,57,50,30,0,...,55,45,0,35,4,7,0,27,45,31
NHS,1,1,1,0,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,0,0
RUR_URB,2,2,2,2,1,1,2,1,1,2,...,2,1,2,2,1,1,1,2,2,1
FUNC_SYS,1,1,1,4,1,1,1,1,1,1,...,1,3,1,7,3,1,3,3,7,5
RD_OWNER,1,1,1,4,1,1,1,1,1,1,...,1,1,1,4,1,1,1,1,4,1
ROUTE,1,1,1,6,1,1,1,1,1,1,...,1,2,1,6,2,1,2,2,6,3
TWAY_ID,I-459,I-565,I-85,20TH ST ENSLEY,I-65,I-59,I-59,I-65,I-85,I-59,...,I-80,US-89,I-25,PERSHING BLVD,US-16,I-25,US-26,US-30 E LINCOLNWAY,E 12TH ST,SR-530
TWAY_ID2,NaN,NaN,CHANTILLY PKWY,AVE I,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONVERSE AVE,NaN,NaN
MILEPT,10,70,100,0,1383,2128,1330,466,234,1450,...,35,562,1850,0,2507,216,305,3636,0,401
LATITUDE,33.3357,34.6615,32.3665,33.5102,31.9472,34.3671,33.5455,31.0337,32.4176,33.6684,...,41.2613,42.4006,42.8497,41.1454,43.8478,41.2957,42.1957,41.1384,42.8389,41.0345
LONGITUD,-87.0071,-86.7869,-86.1453,-86.894,-86.5568,-85.8042,-86.7614,-87.6351,-85.9429,-86.5534,...,-110.984,-111.022,-106.254,-104.742,-104.177,-104.852,-104.477,-104.79,-106.28,-109.635
SP_JUR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HARM_EV,38,1,12,30,35,34,12,35,21,8,...,8,1,1,12,35,31,35,8,39,32
MAN_COLL,0,0,1,0,0,0,1,0,0,0,...,0,0,0,6,0,0,0,0,0,0
RELJCT1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RELJCT2,1,1,1,3,1,1,1,1,1,1,...,1,1,1,1,1,1,1,2,1,1
TYP_INT,1,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,2,1,1
WRK_ZONE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
REL_ROAD,3,3,1,4,3,3,1,4,3,1,...,1,4,4,1,4,4,4,1,5,4
LGT_COND,2,1,2,3,2,2,1,1,1,2,...,1,1,5,2,1,2,2,3,1,1
WEATHER1,1,1,1,2,2,10,1,1,1,1,...,1,1,1,4,1,1,1,1,1,1
WEATHER2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WEATHER,1,1,1,2,2,10,1,1,1,1,...,1,1,1,4,1,1,1,1,1,1
SCH_BUS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RAIL,725409J,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NOT_HOUR,99,15,99,99,20,18,99,16,99,99,...,8,12,17,17,8,6,23,17,8,7
NOT_MIN,99,0,99,99,17,40,99,52,99,99,...,57,46,7,37,7,9,14,27,47,33
ARR_HOUR,99,15,99,16,20,18,99,17,14,4,...,9,13,17,17,8,6,23,17,8,7
ARR_MIN,99,9,99,58,31,46,99,10,40,39,...,8,29,12,50,11,19,35,29,49,99
HOSP_HR,88,88,88,88,21,99,88,99,88,88,...,88,88,17,99,88,88,88,99,99,88
HOSP_MN,88,88,88,88,11,99,88,99,88,88,...,88,88,33,99,88,88,88,99,99,88
CF1,0,0,0,20,0,0,0,0,0,0,...,16,0,0,0,0,0,0,0,0,0
CF2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CF3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FATALS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
DRUNK_DR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [29]:
#los angeles bounding box
UL_LAT = 34.334867
UL_LON = -118.661700
LR_LAT = 33.73657
LR_LON = -118.126921

In [30]:
df[((df['LATITUDE'] > LR_LAT))&((df['LATITUDE'] < UL_LAT)) & ((df['LONGITUD'] > UL_LON)) & ((df['LONGITUD'] < LR_LON)) ]

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
2377,6,60066,1,1,0,1,1,1,1,37,...,99,99,99,99,99,19,0,0,1,0
2475,6,60165,4,4,0,0,0,6,6,37,...,99,99,99,88,88,14,0,0,1,0
2510,6,60201,2,2,0,0,0,2,2,37,...,99,99,99,99,99,0,0,0,1,1
2538,6,60229,2,2,0,1,1,2,2,37,...,99,99,99,88,88,0,0,0,1,0
2558,6,60250,3,3,0,0,0,4,4,37,...,99,99,99,99,99,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,6,63317,1,1,0,1,1,1,1,37,...,99,99,99,99,99,0,0,0,1,0
5572,6,63318,1,1,0,1,1,1,1,37,...,99,99,99,99,99,0,0,0,1,0
5578,6,63324,3,2,1,0,0,2,2,37,...,99,99,99,99,99,0,0,0,1,1
5589,6,63335,1,1,0,0,0,1,1,37,...,99,99,99,88,88,0,0,0,1,0
5615,6,63361,1,1,0,1,1,1,1,37,...,99,99,99,99,99,0,0,0,1,0

In [18]:
df.shape

(34247, 52)

In [27]:
#NYC Bounding Boxes
UL_LAT = 40.916178
UL_LON = -74.25909
LR_LAT = 40.477399
LR_LON = -73.700181

In [28]:
df[((df['LATITUDE'] > LR_LAT))&((df['LATITUDE'] < UL_LAT)) & ((df['LONGITUD'] > UL_LON)) & ((df['LONGITUD'] < LR_LON)) ]

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
19802,34,340003,1,1,0,1,1,1,1,13,...,99,99,99,88,88,0,0,0,1,0
19805,34,340006,1,1,0,1,1,2,2,13,...,99,99,99,99,99,0,0,0,1,0
19807,34,340008,1,1,0,1,1,1,1,13,...,99,99,99,99,99,0,0,0,1,0
19811,34,340012,1,1,0,1,1,1,1,13,...,99,99,99,99,99,0,0,0,1,0
19818,34,340019,2,2,0,0,0,3,3,13,...,99,99,99,99,99,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,36,360884,1,1,0,4,4,1,1,47,...,99,99,99,99,99,0,0,0,1,1
21603,36,360892,1,1,0,1,1,2,2,81,...,99,99,99,99,99,0,0,0,1,0
21622,36,360911,2,1,1,1,1,1,1,81,...,99,99,99,99,99,0,0,0,1,0
21624,36,360913,1,1,0,1,1,2,2,119,...,99,99,99,99,99,0,0,0,1,0
21659,36,360948,1,1,0,1,1,1,1,59,...,99,99,99,99,99,0,0,0,1,0

In [31]:
df = df[((df['LATITUDE'] > LR_LAT))&((df['LATITUDE'] < UL_LAT)) & ((df['LONGITUD'] > UL_LON)) & ((df['LONGITUD'] < LR_LON)) ]

In [38]:
df['LATITUDE'] = round(df['LATITUDE'],4)

/home/rob/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df['LONGITUD'] = round(df['LONGITUD'],4)

/home/rob/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df['LONGITUD'] = df['LONGITUD'].astype(str)

/home/rob/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df['LATITUDE'] = df['LATITUDE'].astype(str)

/home/rob/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
df['LATLON'] = df[['LATITUDE', 'LONGITUD']].apply(lambda x: ''.join(x), axis=1)

/home/rob/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
len(df['LATLON'])

401

In [50]:
df['LATLON'].value_counts().sum()

401